html{
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: Josefin Sans, sans-serif;
  overflow: hidden;
}
body{
  height: 100%;
  overflow: auto;
}

h1,
h2,
h3,
p,
span,
#contact,
#github {
  color: white;
}

#message:hover, input:hover{
  cursor: default;
}


nav {
  position: sticky;
  top: 40%;
  font-size: 2em;
  width: 20%;
}

nav, .contact-me{
  z-index: 6;
}

.wrapper,
.wrapper2 {
  transition-duration: 200ms;
  width: 1.5em;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 1em 0;
}

.wrapper:hover {
  width: 2em;
  cursor: default;
}
.wrapper2:hover {
  width: 6em;
  cursor: default;
}

.show {
  color: white;
}

.about-author{
  position: relative;
    top: -50%;
    width: 80%;
    margin: auto;
}

.about-author h1 {
  display: flex;
  font-size: 6em;
  position: relative;
  left: 30%;
  margin: 0;
  width: 70%;
}

.name-blurb {
  height: 100vh;
  margin: auto;
  width: 100%;
  font-size: 18px;
  position: relative;
  top: -20%;
}

.fa-arrow-down {
  color: white;
  position: absolute;
  left: 70%;
  top: 150%;
  font-size: 8em;
  z-index: 10000;
}

.author-blurb {
  width: 50%;
  position: relative;
  left: 40%;
  top: 20%;
  z-index: 10;
  background-color: black;
  padding: 0.5em;
}

.whoami {
  text-align: center;
}


.about-works span {
  position: relative;
  left: 20%;
}


.author-name {
  display:inline;
  position: sticky;
  font-size: 4em;
  top: 20%;
  left: 15%;
  background-color:black;
  border-radius: 20px;
}


.about-works {
  display: inline-block;
  padding: 5em 0 0 0;
  margin: 5em 0;
}


.work {
  height: 80vh;
  margin: auto;
  margin-bottom: 8em;
  width: 60%;
  text-align:center;
}

.work a {
  pointer-events:visible;
  font-size: 2em;
}

.work img {
  display: block;
  margin: 0 auto;
  transition-duration: 500ms;
  opacity: 50%;
  border-radius: 20px;
  height:100%;
  width:100%;
  object-fit: contain;

}
.work h3 {
  position: sticky;
  opacity: 1;
  top: 10%;
  left: 30%;
  display: inline-block;
  text-align: center;
  font-size: 3em;
  z-index: 4;
  transition-duration: 1000ms;
}

.low-enough {
  opacity: 1;
  padding: 2em;
  position: relative;
  top: -30%;
}


.work p {
  opacity: 0;
  position: relative;
  top: 0;
  z-index: 6;
  color: black;
  width: 60%;
  margin: auto;
  background-color: white;
  border: 3px black solid;
  border-radius: 20px;
  box-shadow: 5px 3px 3px;
  transition-duration: 500ms;
}


.contact-me {
  position: sticky;
  height: 40%;
  margin: auto;
  top: 10%;
  left: 25%;
  width: 30%;
  background-color: white;
  opacity: 0;
  transition-duration: 500ms;
  padding: 2em;
  z-index: -1;

}

#message{
  height: 5em;
}

.show-me {
  filter: blur(0);
  opacity: 1;
  box-shadow: 5px 5px 3px;
  border-radius: 20px;
  font-size: 2em;
  z-index: 10;
}
.blur {
  filter: blur(3px);
}

.work h3,
img,
p {
  pointer-events: none;
}

.happyanimation {
  animation:happy 1s;
  animation-iteration-count: infinite;
}


#name, #email, #message{
  margin: 0.5em;
  padding:0.2em;
  width: 90%;
}

.buttons{
  text-align:center;
}

.button{
  background-color: black;
  color: white;
  box-shadow: 2px 2px 5px grey;
  border-radius: 10px;
  font-size: 1em;
  margin: 0 auto;
  
}


#close:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;

}

#close:active{
  box-shadow: 0px 0px 3px black;
  transform: translate(-3px, -2px) rotate(-2deg);
  animation: none;
}

#sendButton:hover{
  animation: happy 1s;
  animation-iteration-count: infinite;
}

#sendButton:active{
  box-shadow: 0px 0px 3px black;
  animation: none;
}


@keyframes shake{
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes happy{
  0% { transform: translate(0px, 2px); }
  25% { transform: translate(0px, -2px); }
   50% { transform: translate(0px, 2px); }
   75% { transform: translate(0px, -2px); }
   100% { transform: translate(0px, 2px); }
}
/*
@media only screen and (max-width: 600px) {

  html, body {
    margin: auto;
    width: 100vw;
    height: 100vh;
  }

  .about-author{
    display: block;
    
  }
  .about-author h1{
    position: relative;
    font-size: 2em;
  }

  .about-works{
    display:inline;
    position: relative;
    top: 20%;
    
  }

  .about-works span {
    position: relative;
    left: 1%;
  }

  nav {
    position: sticky;
    font-size: 1em;
    top: 0px;
    width: 100%;
    background-color: black;
    z-index:100;
  }

  nav ul {
    display: flex;
  }

  .wrapper, .wrapper2 {
    padding: 3em;
  }

  .name-blurb {
    margin: auto;
    width: 98%;
  }

  .author-blurb {
    width: 100%;
    left: 0;
    font-size: 0.8em;
  }

  .work{
    width: 100%;
    display: grid;
  }

  .work h3 {
    position: relative;
    left: -5%;
    top: 0;
    width: 90%;
  }
  .work p {
    width: 90%;
    padding: 0.4em;
    z-index: 5;
    font-size:0.8em;
  }
  .work img {
    width: 98%;

  }
  .work button {
    background-color: blue;
  }
  .contact-me{
    left:0;
  }
  .show-me{
    width: 60%;
    height: 60%;
  }

  .author-name{
    font-size: 3em;
  }
}
*/

@media only screen and (max-width: 600px) {
  html,body {
    margin: auto;
    width:100%;
  }
  
  /* Modify the structure of the navigation */
  nav {
    position: sticky;
    font-size: 1em;
    top: 0px;
    width: 100%;
    background-color: black;
    z-index:100;
  }

  nav ul {
    display: flex;
  }

  .wrapper, .wrapper2 {
    padding: 3em;
  }

  /* Modify the structure of the contact form */
  .contact-me{
    left:0;
  }
  .show-me{
    width: 60%;
    height: 60%;
  }

  /* Modify the structure of the about section */
  .author-name{
    font-size: 3em;
  }

  .name-blurb {
    margin: auto;
    width: 98%;
  }

  .author-blurb {
    width: 90%;
    left: 0;
    font-size: 0.8em;
  }
  .about-author{
    display: block;
    
  }
  .about-author h1{
    position: relative;
    font-size: 2em;
  }

  

  .about-works span {
    position: relative;
    left: 1%;
  }

  /* Modify the structure of the works section */
  .about-works {
    display: block;
  
  }
  .about-works h2 {
    display: none;
  }
  .work {
    width:100%;
    text-align: center;
    margin: 1em auto;
    
  }

  .work img {
    display: none;
  }
  .work h3{
    position:static;
  }
  .work p{
    opacity: 1;
    width: 90vw;
    padding: 1em;
  }
}







